.socials {
  display: grid;
  justify-content: flex-end;
  grid-template-columns: repeat(auto-fit, minmax(36px, 38px));
  grid-template-rows: 38px;
  gap: 5px;

  &__item {
    position: relative;
    width: 38px;
    height: 38px;
  }

  &__link {
    @include fill;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 1px #CCCCCC;
    border-radius: 50%;
  }

  .icon {
    max-width: 18px;
    max-height: 18px;
    height: auto;
    color: #CCCCCC;
  }
}
